{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{{ block.super }}

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container-fluid">

    <div class="pt-5 container">
        <h1 class="display-4">500 - Internal Server Error</h1>
        <p>Something went wrong on our end. Please try again later.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Go to Home</a>
    </div>
</div>
{% endblock %}
